<h1>Döviz Kurları</h1>

<table class="table">
    <tr>
        <th>Satış</th>
        <th>En Yüksek</th>
        <th>En Düşü</th>
        <th>Kapanış</th>
    </tr>
    <tr>
        <td>@ViewBag.UsdArr[0]</td>
        <td>@ViewBag.UsdArr[1]</td>
        <td>@ViewBag.UsdArr[2]</td>
        <td>@ViewBag.UsdArr[3]</td>
    </tr>
</table>     